<div class="container mt-5">
    <div class="card">
        <div class="card-header"> 
            <img src="assets/62763.png" alt="logo" width="100px"> 

        </div>
        <div class="card-body">
            <tabset #staticTabs>
                <tab heading="Inicio"> 
                    <div class="row p-5">
                        <div class="col-6">
                            <h1>
                                Proyecto Integrador
                            </h1>
                        </div>
                        <div class="col-6"> <img src="assets/62763.png" alt="logo" width="100%"></div>
                    </div>
                </tab>
                <tab heading="Historia ICEL">
                    <div class="row p-5">
                        <div class="col-3"> <img src="assets/62763.png" alt="logo" width="100%"></div>
                        <div class="col-9">
                            <p>La Universidad ICEL, Instituto de Capacitación para Ejecutivos y Licenciados, es una institución educativa privada ubicada en la Ciudad de México. Fue fundada en 1962 por el Dr. Gonzalo Aguirre Beltrán, un destacado antropólogo mexicano. La historia de la Universidad ICEL se remonta a sus inicios como un centro de capacitación empresarial, ofreciendo programas de formación para ejecutivos y profesionales en diversas áreas.</p>

                            <p>A lo largo de los años, ICEL ha ampliado su oferta educativa, incorporando programas de licenciatura y posgrado en áreas como administración, derecho, comunicación, psicología, turismo, entre otros. Su enfoque ha sido combinar la teoría con la práctica, brindando a los estudiantes herramientas tanto académicas como profesionales para enfrentar los desafíos del mundo laboral.</p>

                            <p>La Universidad ICEL se ha consolidado como una institución reconocida en México por su calidad educativa y su compromiso con la formación integral de sus estudiantes. Ha buscado adaptarse a los cambios y demandas del mercado laboral, incorporando tecnología y metodologías innovadoras en su proceso educativo.</p>

                            <p>A lo largo de su historia, ICEL ha contribuido al desarrollo profesional de miles de estudiantes, muchos de los cuales han destacado en sus respectivas áreas de trabajo. Su compromiso con la excelencia académica y la formación de líderes ha sido una constante a lo largo de los años, consolidándola como una institución de prestigio en el ámbito educativo mexicano.</p>
                        </div>
                    </div>
                </tab>
                <tab heading="CV Alumno">
                    <div class="row p-5">
                        <div class="col-2">
                            <img src="assets/cv.png" alt="img" width="100px">
                        </div>
                        <div class="col-10">
                            <h5>Curriculum Vitae: Alejandro Jair Izaguirre de la Fuente</h5>
                            <p>Domicilio: Calle Nicolas Bravo 137b 2 Col Estanzuela, GAM, CDMX CP 07060</p>
                            <p>Telefono: 55 6885 2637 Correo: izaguirre.dlf&#64;gmail.com</p>
                            <p>Edad 24 años</p>
                        </div>
                    </div>

                    <h3>Formacion Academica</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Periodo</th>
                                <th>Institucion</th>
                                <th>Carrera</th>
                                <th>Documento Obtenido</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2006-2012</td>
                                <td>Juana de Asbaje</td>
                                <td>Primaria</td>
                                <td>Certificado</td>
                            </tr>
                            <tr>
                                <td>2012-2015</td>
                                <td>Eliseo Garcia Escobedo</td>
                                <td>Secondaria</td>
                                <td>Certificado</td>
                            </tr>
                            <tr>
                                <td>2018-2019</td>
                                <td>CENEVAL</td>
                                <td>Preparatoria</td>
                                <td>Certificado</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>Historico Laboral y Experiencia Profesional</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Periodo</th>
                                <th>Cargo</th>
                                <th>Empresa</th>
                                <th>Duracion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2022 - Actualidad</td>
                                <td>Programador Junior</td>
                                <td>Programador Independiente</td>
                                <td>+1 año</td>
                            </tr>
                            <tr>
                                <td>2020-2022</td>
                                <td>Auxiliar de Logistica</td>
                                <td>RDS</td>
                                <td>2 años</td>
                            </tr>
                        </tbody>
                    </table>
                </tab>
                <tab heading="La materia">
                    <div class="row p-5">
                        <div class="col-6">
                            Terminar mi proyecto web con Angular ha sido todo un reto. Al principio, me sentí abrumado por la cantidad de archivos y la estructura tan diferente a la que estaba acostumbrado. A veces me perdía entre los componentes y sus relaciones. Configurar el entorno de desarrollo también me llevó tiempo y esfuerzo extra. Pero a medida que fui avanzando, empecé a comprender mejor los conceptos y a sentirme más cómodo con la sintaxis y las herramientas. Ahora que lo he terminado, siento una gran satisfacción. Sé que he superado obstáculos importantes y que he adquirido habilidades que me serán útiles en el futuro.
                        </div>
                        <div class="col-6">
                            <img src="assets/pexels-joshsorenson-1714208.jpg" alt="img" width="100%0">
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>